{% extends 'base_crud.html' %}

{% block title %}Detalhes do Aluno - {{ aluno.nome }}{% endblock %}

{% block content %}
    <h1>Detalhes do Aluno</h1>
    <p><strong>ID:</strong> {{ aluno.id_aluno }}</p>
    <p><strong>Nome:</strong> {{ aluno.nome }}</p>
    <p><strong>Matrícula:</strong> {{ aluno.matricula }}</p>
    <br><br>
    <a href="/alunos/{{ aluno.id_aluno }}/update">Editar Aluno {{ aluno.nome }}</a>
    <br><br>
    <a href="/alunos/{{ aluno.id_aluno }}/delete">Deletar Aluno {{ aluno.nome }}</a>
    <br><br>
    <a href="/alunos">Voltar a lista de alunos</a>
{% endblock %}