{% extends 'base_crud.html' %}

{% block title %}Criar Novo Conteúdo{% endblock %}

{% block content %}

    <h1>Cadastrar Novo Conteúdo</h1>
    <form method="POST" action="/conteudos/create">

        <label for="codigo">Código:</label>
        <input 
            id="codigo" 
            name="codigo" 
            required
            pattern="^[A-Za-z0-9-]+$" 
            title="O código deve conter apenas letras, números e hífens.">
        <br><br>
        
        <label for="essencialidade">Essencialidade:</label>
        <select
        id="essencialidade" 
        name="essencialidade" 
        required
        title="O nível de essencialidade deve ser um número entre Eletiva Essencial 1 e 2.">
            <option value="">Selecione...</option>
            <option value="Eletiva">Eletiva</option>
            <option value="Essencial 1">Essencial 1</option>
            <option value="Essencial 2">Essencial 2</option>
        </select>
        <br><br>

        <label for="descricao">Descrição:</label>
        <textarea 
            id="descricao" 
            name="descricao" 
            required            
            title="A descrição é obrigatória."></textarea>
        <br><br>
        
        <button type="submit">Cadastrar</button>
    </form>
    <br>
    <a href="/conteudos">Voltar a lista de conteúdos</a>

{% endblock %}