{% extends 'base_crud.html' %}

{% block title %}Detalhar conteúdo{% endblock %}

{% block content %}
    <h1>Detalhes do Conteúdo</h1>
    <p><strong>ID do Conteúdo:</strong> {{ conteudo.id_conteudo }}</p>
    <p><strong>Código:</strong> {{ conteudo.codigo }}</p>
    <p><strong>Nível de Essencialidade:</strong> {{ conteudo.essencialidade }}</p>
    <p><strong>Descrição:</strong> {{ conteudo.descricao }}</p>
    <br><br>
    <a href="/conteudos/{{ conteudo.id_conteudo }}/update">Editar Conteúdo</a>
    <br><br>
    <a href="/conteudos/{{ conteudo.id_conteudo }}/delete">Deletar Conteúdo</a>
    <br><br>
    <a href="/conteudos">Voltar a lista de conteúdos</a>
{% endblock %}