{% extends 'base_crud.html' %}

{% block title %}Listar Conteúdos{% endblock %}

{% block content %}
    <h1>Lista de Conteúdos</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>ID da Disciplina</th>
                <th>Código</th>
                <th>Nível de Essencialidade</th>
                <th>Descrição</th>
            </tr>
        </thead>
        <tbody>
            {% for conteudo in conteudos %}
            <tr>
                <td>{{ conteudo.id_conteudo }}</td>
                <td>
                    <a href="/disciplinas/{{ conteudo.id_disciplina }}">{{ conteudo.id_disciplina }}</a>
                </td>
                <td>{{ conteudo.codigo }}</td>
                <td>{{ conteudo.nivel }}</td>
                <td>{{ conteudo.descricao }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

    <br><br>
    <a href="/conteudos/create">Cadastrar Novo Conteúdo</a>
{% endblock %}
