{% extends 'base_crud.html' %}

{% block title %}Editar Conteúdo{% endblock %}

{% block content %}
    <h1>Editar Conteúdo</h1>
    <form method="POST" action="/conteudos/{{ conteudo.id_conteudo }}/update">
        <label for="codigo">Código:</label>
        <input 
            id="codigo" 
            name="codigo"
            value="{{ conteudo.codigo }}" 
            required 
            minlength="2"
            pattern="^[A-Za-z0-9-]+$" 
            title="O código deve conter apenas letras, números e hífens.">
        <br><br>

        <label for="essencialidade">Essencialidade:</label>
        <select
            id="essencialidade" 
            name="essencialidade"
            required
            title="O nível de essencialidade deve ser um número entre Eletiva Essencial 1 e 2.">
            
            <option value="">Selecione...</option>
            
            {% if conteudo is defined %}
                <option value="Eletiva" {% if conteudo.essencialidade == 'Eletiva' %}selected{% endif %}>Eletiva</option>
                <option value="Essencial 1" {% if conteudo.essencialidade == 'Essencial 1' %}selected{% endif %}>Essencial 1</option>
                <option value="Essencial 2" {% if conteudo.essencialidade == 'Essencial 2' %}selected{% endif %}>Essencial 2</option>
            {% endif %}
        </select>
        <br><br>

        <label for="descricao">Descrição:</label>
        <textarea 
            id="descricao" 
            name="descricao"
            required            
            title="A descrição é obrigatória.">{{ conteudo.descricao }}</textarea>
        <br><br>

        <button type="submit">Atualizar</button>
        <button type="button"
            onclick="window.location.href='/conteudos/{{ conteudo.id_conteudo }}'">Cancelar</button>
    </form>
    <br><br>
    <p>Para alterar o vinculo deste conteúdo com a disciplina, selecione a disciplina abaixo:</p>
        <a href="/disciplina/{{ conteudo.disciplina }}">Ver Disciplina Associada</a>
    <br><br>
    <a href="/conteudos">Voltar a lista de conteúdos</a>
{% endblock %}