{% extends 'base_crud.html' %}

{% block title %}Detalhes da Disciplina{% endblock %}

{% block content %}
    <h1>Detalhes da Disciplina</h1>
    <p><strong>ID:</strong> {{ disciplina.id_disciplina }}</p>
    <p><strong>Nome:</strong> {{ disciplina.nome }}</p>
    <p><strong>Código:</strong> {{ disciplina.codigo }}</p>
    <p><strong>Área:</strong> {{ disciplina.area }}</p>
    <p><strong>Conteúdos:</strong>
        {% for conteudo in disciplina.conteudos %}
            <li>
                <strong>{{ conteudo.codigo }}</strong> - {{ conteudo.descricao }}
            </li>
        {% else %}
            <li>Não há nenhum conteudo associado a esta disciplina no momento.</li>
        {% endfor %}
    <p></p><strong>Habilidades:</strong></p>
        {% for habilidade in disciplina.habilidades %}
            <li>
                <strong>{{ habilidade.codigo }}</strong> - {{ habilidade.descricao }}
            </li>
        {% else %}
            <li>Não há nenhuma habilidade associada a esta disciplina no momento.</li>
        {% endfor %}
    <br>
    <a href="/disciplinas/{{disciplina.id_disciplina}}/gerenciar_competencias"> Gerenciar as competências desta disciplina.</a>
    

    <br><br>
    <a href="/disciplinas/{{ disciplina.id_disciplina }}/update">Editar {{ disciplina.nome }}</a>
    <br><br>
    <a href="/disciplinas/{{ disciplina.id_disciplina }}/delete">Deletar {{ disciplina.nome }}</a>
    <br><br>
    <a href="/disciplinas">Voltar a lista de disciplinas</a>

{% endblock %}