{% extends 'base_crud.html' %}

{% block title %}Trabalho Final INF01006{% endblock %}

{% block content %}
<body>
    <h1>Trabalho Final INF01006</h1>
    <ul>
        <li><a href="/alunos">Alunos</a></li>
        <li><a href="/disciplinas">Disciplinas</a></li>
        <li><a href="/turmas">Turmas</a></li>
        <li><a href="/conteudos">Conteúdos</a></li>
        <li><a href="/habilidades">Habilidades</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/dashboard/trajetoria">Trajetória Individual</a></li>
    </ul>
</body>
{% endblock %}