{% extends 'base_crud.html' %}

{% block title %}Editar Habilidades{% endblock %}

{% block content %}

    <h1>Editar Habilidades</h1>
    <form method="POST" action="/habilidades/{{ habilidade.id_habilidade }}/update">
        
        <label for="codigo">Código:</label>
        <input 
            id="codigo" 
            name="codigo"
            value="{{ habilidade.codigo }}"
            required 
            minlength="2"
            pattern="^[A-Za-z0-9-]+$" 
            title="O código deve conter apenas letras, números e hífens.">
        <br><br>

        <label for="essencialidade">Essencialidade:</label>
        <select
            id="essencialidade" 
            name="essencialidade"
            required
            title="O nível de essencialidade deve ser um número entre Eletiva Essencial 1 e 2.">
            
            <option value="">Selecione...</option>
            
            {% if habilidade is defined %}
                <option value="Eletiva" {% if habilidade.essencialidade == 'Eletiva' %}selected{% endif %}>Eletiva</option>
                <option value="Essencial 1" {% if habilidade.essencialidade == 'Essencial 1' %}selected{% endif %}>Essencial 1</option>
                <option value="Essencial 2" {% if habilidade.essencialidade == 'Essencial 2' %}selected{% endif %}>Essencial 2</option>
            {% endif %}
        </select>
        <br><br>

        <label for="proficiencia">Proficiência:</label>
        <select
        id="proficiencia" 
        name="proficiencia" 
        required
        title="A proficiência deve estar entre 'Compreender', 'Aplicar', 'Criar' e 'Avaliar'.">

            {% if habilidade is defined %}
            <option value="Compreender" {% if habilidade.proficiencia == 'Eletiva' %}selected{% endif %}>Compreender</option>
            <option value="Aplicar" {% if habilidade.proficiencia == 'Eletiva' %}selected{% endif %}>Aplicar</option>
            <option value="Criar" {% if habilidade.proficiencia == 'Eletiva' %}selected{% endif %}>Criar</option>
            <option value="Avaliar" {% if habilidade.proficiencia == 'Eletiva' %}selected{% endif %}>Avaliar</option>
            {% endif %}
        </select>
        <br><br>

        <label for="descricao">Descrição:</label>
        <textarea 
            id="descricao" 
            name="descricao"
            required            
            title="A descrição é obrigatória.">{{ habilidade.descricao }}</textarea>
        <br><br>

        <button type="submit">Atualizar</button>
        <button type="button"
            onclick="window.location.href='/habilidades/{{ habilidade.id_habilidade }}'">Cancelar</button>
    </form>
    <br><br>

    <p>Para alterar o vinculo desta habilidade com a disciplina, selecione a disciplina abaixo:</p>
        <a href="/disciplinas/{{ habilidade.id_disciplina }}">Ver Disciplina</a>
    <br><br>
    <a href="/habilidades">Voltar a lista de habilidades</a>
{% endblock %}